<div class="modal fade" id="editExploreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded xx-large-size">
      <div class="modal-body p-0">
        <div class="row mx-0 edit-explore-nav-wrap align-items-center rounded">
          <div class="col pl-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="explore-tab" data-toggle="tab" href="#explore" role="tab" aria-controls="home" aria-selected="true">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="guide-tab" data-toggle="tab" href="#guide" role="tab" aria-controls="profile" aria-selected="false">Guide</a>
              </li>
            </ul>
          </div>
          <div class="col-auto">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>


        <div class="tab-content" id="myTabContent">
          <div class="tab-pane p-3 fade show active" id="explore" role="tabpanel" aria-labelledby="home-tab">
            <h5 class="c-black mt-3">Subjects you want to learn</h5>
            <p class="font-weight-normal c-black fsz-14 pb-4 border-bottom">Add or remove subjects that you want to learn more about.</p>

            <div class="border-bottom-0 material-tabs explores-material-tabs mb-3">
              <a id="profile-edit-explore-tab1"
                 class="pt-0 px-0 mr-4"
                 href="#edit_explore_tab1">
                  Add
               </a>
              <a id="profile-edit-explore-tab2"
                 class="pt-0 px-0 mr-4"
                 href="#edit_explore_tab2">
                  My categories
               </a>
              <span class="yellow-bar"></span>
            </div>

            <div class="tab-content">
              <!-- all categories in explore -->
              <div id="edit_explore_tab1">
                <div class="row mx-0 align-items-end mb-4">
                  <div class="col pl-0">
                    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit edit_explore' } do |f| %>
                      <div class="form-group mb-0">
                        <label class="c-black font-weight-bolder">What Are you interested in?</label>
                        <%= f.text_field(
                          :search_query,
                          class: 'filterrific-periodically-observed form-control',
                          placeholder: 'ex. oil painting',
                          id: 'search_query_explore'
                        ) %>
                      </div>
                      <%= render_filterrific_spinner %>
                    <% end %>
                  </div>

                  <div class="col-auto font-weight-bold pr-0">
                    <span class="fz-14 c-black">Can't find something?</span>
                    <span data-dismiss="modal" class="c-blue fz-14 cursor-p" id="edit_explore_create_new_cat_btn"> Create a new category.</span>
                  </div>
                </div>


                <div class="pt-3 border-top position-relative auxiliar-container" id="explore-item-containerP">
                  <%= render(
                    partial: 'list',
                    locals: { categories: @categories.first(9) }
                  ) %>
                </div>

                <div class="text-center">
                  <button class="btn btn-link my-4 search-all-categories-btn">
                    Search all categories
                  </button>
                </div>
              </div>

              <!-- user categories in explore -->
              <div id="edit_explore_tab2">
                <div class="border-top">

                  <% if @explores.blank? %>
                    <div class="text-center">
                      <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                    </div>
                    <h5 class="mt-4 f-black font-weight-normal text-center">
                      Nothing added Yet
                    </h5>
                  <% else %>
                    <%= render(
                      partial: 'list',
                      locals: { categories: @explores }
                    ) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-link"
                      data-dismiss="modal">Cancel</button>
                <%= form_tag( {:controller=>"explores", :action => :create }, { :method => :post,:id => 'update_explore' }) do %>
                  <input type="hidden" id="exploreCategories" name="exploreCategories">
                  <%= submit_tag("Save", :class=>'btn btn-success', data: { disable_with: "Updating..."})%>
                <%end%>
            </div>
          </div>

          <div class="tab-pane fade p-3" id="guide" role="tabpanel" aria-labelledby="profile-tab">
            <h5 class="c-black mt-3">Subjects you want to teach</h5>
            <p class="font-weight-normal c-black fsz-14 pb-4 border-bottom">Add or remove subjects that you want to teach.</p>

            <div class="border-bottom-0 material-tabs explores-material-tabs mb-3">
              <a id="profile-edit-guide-tab1"
                 class="pt-0 px-0 mr-4"
                 href="#edit_guide_tab1">
                  Add
               </a>
              <a id="profile-edit-guide-tab2"
                 class="pt-0 px-0 mr-4"
                 href="#edit_guide_tab2">
                  My categories
               </a>
              <span class="yellow-bar"></span>
            </div>

            <div class="tab-content">
              <!-- all categories in explore -->
              <div id="edit_guide_tab1">
                <div class="row mx-0 align-items-end mb-4">
                  <div class="col pl-0">
                    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
                      <div class="form-group mb-0">
                        <label for="">Search in categories</label>
                        <%= f.text_field(
                          :search_query,
                          class: 'filterrific-periodically-observed form-control',
                          placeholder: 'ex. oil painting'
                        ) %>
                      </div>

                      <%= render_filterrific_spinner %>
                    <% end %>
                  </div>

                  <div class="col-auto font-weight-bold pr-0">
                    <span class="fz-14 c-black">Can't find something?</span>
                    <span data-dismiss="modal" id="edit_guide_create_new_cat_btn" class="c-blue fz-14 cursor-p">Create a new category.</span>
                  </div>
                </div>


                <div class="pt-3 border-top position-relative auxiliar-container" id="explore-item-containerP">
                  <%= render(
                    partial: 'listg',
                    locals: { categories: @categories.first(9) }
                  ) %>
                </div>

                <div class="text-center">
                  <button class="btn btn-link my-4 search-all-categories-btn">
                    Search all categories
                  </button>
                </div>
              </div>

              <!-- user categories in explore -->
              <div id="edit_guide_tab2">
                <div class="border-top">

                  <% if @explores.blank? %>
                    <div class="text-center">
                      <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                    </div>
                    <h5 class="mt-4 f-black font-weight-normal text-center">
                      Nothing added Yet
                    </h5>
                  <% else %>
                  <%= render(
                    partial: 'listg',
                    locals: { categories: @guides }
                  ) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-link"
                      data-dismiss="modal">Cancel</button>
              <%= form_tag( {:controller=>"guides", :action => :create }, { :method => :post,:id => 'update_guide' }) do %>
                <input type="hidden" id="guideCategories" name="guideCategories">
                <%= submit_tag("Save", :class=>'btn btn-success', data: { disable_with: "Updating..."})%>
              <%end%>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
