<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Name:: <%= @contact.name %></h1>
    <h2>Email:: <%= @contact.email %></h2>
    <h3>Subject:: <%= @contact.subject %></h3>
    <h2>Category:: <%= @contact.category %></h2>
    <p>
        <h4>Message:: <%= @contact.message %></h4>
    </p>
  </body>
</html>
