<!-- message notification -->
<%=link_to notification_path(notification), method: :patch, remote: true do%>
  <div class="row mx-0 px-4 pt-3 border-bottom pb-3 <%= notification.read_at.nil? ? "bgc-very-light-blue": ""%>">
    <div class="col-auto px-0">
      <div class="notification-icon-placeholder">
        <span class="material-icons">explore</span>
      </div>
    </div>
    <div class="col font-weight-normal">
      <div class="row mx-0">
        <div class="col-auto pl-0">
          <div class="project-avatar"
               style="background-image: url('<%= image_path(category_photo(notification.notifiable)) %>')"
               onclick="event.preventDefault();event.stopPropagation();window.location='<%=category_path(notification.notifiable)%>'">
            </div>
        </div>
        <div class="col pr-0 text-right">
          <button class="btn btn-link dropdown-toggle pr-0 pt-0 mt-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
          <div class="dropdown-menu rounded"
              aria-labelledby="dropdownMenuButton">
                  <button class="btn btn-link dropdown-item ff-os font-weight-bolder px-3">
                      <i class="material-icons align-middle mr-1">delete</i>
                      <span class="align-middle fsz-16">Remove</span>
                  </button>
                </div>
        </div>
      </div>

        <div class="font-weight-normal">
          <div class="fsz-14 mt-2 c-black">
            Your category submission request for, <b class="font-weight-bold"><%= notification.notifiable.nil? ? "Error": notification.notifiable.name.camelize%></b> has been accepted.
          </div>
        </div>
    </div>
  </div>
<%end%>
