<!-- news notification -->
<%=link_to notification_path(notification), method: :patch, remote: true do%>
  <div class="row mx-0 px-4 pt-3 border-bottom pb-3 <%= notification.read_at.nil? ? "bgc-very-light-blue": ""%>">
    <div class="col-auto px-0">
      <div class="notification-icon-placeholder">
        <i class="material-icons align-middle c-light-gray centerXY fsz-19">people</i>
      </div>
    </div>
    <div class="col font-weight-normal">
      <div class="row mx-0">
        <div class="col pl-0">
         <!--  <h4 class="fsz-14 c-gray">
            News for you
          </h4> -->
          <div class="project-avatar"
               style="background-image: url('<%= profile_photo(notification.user.profile) %>')"
               onclick="event.preventDefault();event.stopPropagation();
               window.location='<%=profile_path(notification.user.profile)%>'">
          </div>
        </div>
        <div class="col pr-0 text-right">
          <button class="btn btn-link dropdown-toggle pr-0 pt-0 mt-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </button>
          <div class="dropdown-menu rounded"
              aria-labelledby="dropdownMenuButton">
                  <button data-turbolinks="false"
                     class="dropdown-item btn btn-link ff-os font-weight-bolder px-3">
                      <i class="material-icons align-middle mr-1">delete</i>
                      <span class="align-middle fsz-16">Remove</span>
                  </button>
                </div>
        </div>
      </div>

        <div class="fsz-14 c-black">
          <b class="font-weight-bold c-black"><%=notification.user.full_name%></b>
          has declined your booking request
        </div>
    </div>
  </div>
<%end%>
