<div class="bookingInfo" id="infoBooking-<%= booking.id%>" >
  <div class="date">
    <%= local_time(booking.start,'%B %e')%>
  </div>
  <div class="start_time">
    <%= local_time(booking.start,'%l:%M %P')%>
  </div>
  <div class="end_time">
    <%= local_time(booking.end,'%l:%M %P')%>
  </div>
</div>

<% if booking.guide.profile_id == @profile_id %>
<% @type= "Guide" %>
<% @companion = booking.explore.profile %>
<% elsif booking.explore.profile_id == @profile_id %>
<% @type= "Explorer" %>
<% @companion = booking.guide.profile %>
<%end%>
<tr class="upcomingBookingsItem">
  <td>
    <p class="whs-nw mb-0"><%= local_time(booking.start,'%B %e, %Y')%></p>
    <p class="whs-nw mb-0"><%= local_time(booking.start,'%l:%M %P') %> - <%=local_time(booking.end,'%l:%M %P')%></p>
  </td>
  <th scope="row"><%=booking.title%></th>
  <td><%=booking.description.nil? || booking.description.empty?  ? "None" : booking.description%></td>
  <td><%=booking.duration%> Minutes</td>
  <td>
    <%= link_to profile_path(@companion) do%>
      <div class="project-avatar mr-2 d-inline-block align-middle"
           style="background-image: url('<%= profile_photo(@companion)%>')">
      </div>
    <%end%>
    <span class="whs-nw" id="nameBooking-<%= booking.id%>"><%= @companion.user.full_name %></span>
  </td>
  <th>
    <%= @type.upcase %>
  </th>
  <td>
    <div class="whs-nw">
      <%= link_to "Message" ,user_chats_path(current_user, :other_user => @companion.user.id), method: :post, class: "btn btn-link border rounded-pill"  %>
      <%=link_to "Change", change_cancel_modal_path(booking.id),remote: true,class: "btn btn-link border rounded-pill"%>
      <button class="btn btn-link border rounded-pill countdown-btn"
              disabled
              data-countdown="<%=booking.start.iso8601%>"
              data-nav-link="<%=profile_booking_path(current_user.profile.id, booking,:peer_id => Profile.find_by_id(@companion.id).nil? ? 1 :Profile.find_by_id(@companion.id).id )%>">
          Enter room
      </button>
    </div>
  </td>
</tr>
