<div id="filter_results_home">
  <% if explores.nil? %>
  <% else %>
    <%if filter=="popular"%>
      <%= render partial:'explores/popular_in_explores',locals:{world_popular_explore_category: world_popular_explore_category}%>
      <%= render partial:'guides/popular_in_guides',locals:{world_popular_guide_category: world_popular_guide_category}%>
    <%elsif filter=="top"%>
      <%= render partial:'explores/top_explorers',locals:{top_explores: explore_results} %>
      <%= render partial:'guides/top_guides',locals:{top_guides: guide_results} %>
    <%else%>
    <%= render partial:'explores/most_sessions',locals:{top_explores: results_explore} %>
    <%= render partial:'guides/most_sessions',locals:{top_guides: results_guide} %>
    <%end%>
  <% end %>
</div>
