<div class="navbar-without-banner">
    <%= render 'landing/navbar' %>
</div>
<div class="reservation-container-wrap">
	<div class="container reservation-container shadow">
    <div class="p-4">
      <div class="reservation-top-nav-wrap border-bottom mb-4">
        <div class="reservation-top-nav">
          <div class="row m-0">
            <div class="col-auto px-0">
                      <div class="project-progress-circle active text-center"
                         >
                         <i class="material-icons c-white fsz-16" style="margin-top: 5px;">check</i>
                      </div>
                      <span class="reservation-top-nav-text">Overview</span>
                  </div>
                  <div class="col px-0">
                      <div class="project-progress-line active">

                      </div>
                  </div>
                  <div class="col-auto px-0">
                      <div class="project-progress-circle active text-center">
                        <i class="material-icons c-white fsz-16" style="margin-top: 5px;">check</i>
                      </div>
                      <span class="reservation-top-nav-text">Collaborators</span>
                  </div>
                  <div class="col px-0">
                      <div class="project-progress-line active">
                      </div>
                  </div>
                  <div class="col-auto px-0">
                      <div class="project-progress-circle">
                      </div>
                      <span class="reservation-top-nav-text c-black font-weight-bold">Details</span>
                  </div>
          </div>
        </div>
      </div>
      <%= form_tag( project_update_details_path,  :method => :post,remote: true,:id => 'update_project_details' ) do |f| %>
        <%= render 'project_page_tools', isNewProject: true %>
        <div class="text-center mt-4">
          <div>
            <%= submit_tag("Preview",:id=>"submit_create_project", :class=>'btn btn-success',data: { disable_with: "Creating..." })%>
          </div>
          <div class="mt-3">
            <%= link_to "Back", project_collaborators_path, :class => "btn btn-link"%>
            <a class="btn btn-link">
              Cancel
            </a>
          </div>
        </div>
      <%end%>
    </div>
	</div>
</div>
