<div class="navbar-without-banner">
 <%= render 'landing/navbar' %>
</div>

<div class="mt-5 pt-4">
 <div class="bgc-very-light-blue">
   <div class="container py-4">
     <div class="row align-items-center">
       <div class="col font-weight-bolder c-black">
         This is a preview of your project. Your project can be <br>
         modified at any time after it is published.
       </div>
       <div class="col-auto">
         <%=link_to "Edit",projects_overview_path,class: "btn btn-link border radius-25 px-4 py-2 mr-3"%>
         <%=link_to "Publish",projects_path, :method => :post,class: "btn btn-success radius-25 px-4 py-2"%>
       </div>
     </div>
   </div>
 </div>
</div>

<div class="container pt-5">
 <!-- <div class="row">
   <div class="col text-right">
     <button class="btn btn-link td-n" id="project_delete_btn">
       <i class="material-icons c-red-500 fsz-20 align-middle td-none">delete</i>
       <span class="align-middle c-red-500 fsz-14 ml-2 td-none">REMOVE</span>
     </button>
   </div>
 </div> -->
 <!-- project name -->
 <div class="row">
   <div class="col">
     <h1 class="mt-5 fsz-25 c-black">
       <%=@project["name"].camelize%>
     </h1>
   </div>
   <!-- <div class="col-auto">
     <button class="btn btn-link mt-5" id="project_edit_main_page_btn">
       <i class="material-icons c-gray fsz-18">edit</i>
     </button>
   </div> -->
 </div>

 <!-- status -->
 <p class="fsz-11 c-black mb-1"></p>

 <!-- description -->
 <div class="row">
   <div class="col-7">
     <p class="fsz-13 font-weight-bolder c-black">Subtitle</p>
   </div>
 </div>


 <div class="row mt-2 mx-0">
   <div class="col-7 px-0">
     <!--  project image -->
     <div class="position-relative project-image rounded"
        style="background-image: url('<%= image_path('Section/workshop.jpg') %>');">

       <!-- right arrow this is for next image -->
       <!-- <div class="project-arrow-right border">
         <i class="material-icons">keyboard_arrow_right</i>
       </div> -->
     </div>
   </div>
   <div class="col-5 pl-5 pr-0">
     <div>
       <!-- project status progress -->
         <div class="row m-0">
           <%if @project["status"]=="idea"%>
             <div class="col-auto px-0">
               <div class="project-progress-circle"
                     style="background-image: url('<%= image_path('Icons/Idea_icon.png') %>');"
                  >
               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line ">

               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle">
               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line">
               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle">
               </div>
             </div>
           <%elsif @project["status"] == "progress"%>
             <div class="col-auto px-0">
               <div class="project-progress-circle active">
               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line active">
               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle"
                  style="background-image: url('<%= image_path('Icons/project_status.png') %>');">

               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line">
               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle">
               </div>
             </div>
           <%elsif @project["status"] == "completed"%>
             <div class="col-auto px-0">
               <div class="project-progress-circle active"
                  >
               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line active">

               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle active">
               </div>
             </div>
             <div class="col px-0">
               <div class="project-progress-line active">

               </div>
             </div>
             <div class="col-auto px-0">
               <div class="project-progress-circle"
                    style="background-image: url('<%= image_path('Icons/completed-icon.png') %>');">
               </div>
             </div>
           <%end%>
         </div>
     </div>

     <!-- owner -->
     <div>
       <p class="fsz-11 c-black mb-3 font-weight-bolder mt-4">PROJECT OWNER</p>
       <div class="row">
         <div class="col-auto pr-0">
           <div class="project-avatar"
              style="background-image: url('<%= profile_photo(@project_profile) %>')"></div>
         </div>
         <div class="col">
           <div class="font-weight-bold fsz-15 c-black"><%=@project_profile.user.full_name%></div>
           <div class="fsz-13 c-black"><%=@project_profile.city%></div>
         </div>
       </div>
     </div>

   <%if @project["help"] != "false" %>
     <!-- HELP NEEDED WITH -->
     <div>
       <% if !@project["help_needed"].nil? %>
        <p class="fsz-11 c-black mb-3 mt-4 font-weight-bolder">HELP NEEDED WITH</p>
         <%@project["help_needed"].each do |category|%>
           <div class="d-inline-block border project-help-needed-box fsz-10 mr-2 font-weight-bolder">
             <%=category%>
           </div>
         <%end%>
       <%end%>
     </div>

     <!-- offer help button -->
     <div class="mt-4 text-center">
         <button class="btn btn-link border project-offer-help-btn font-weight-bolder fsz-14"
                 id="prjoectOfferHelpButton">
           Offer Help
         </button>
     </div>
   <%end%>
   </div>
 </div>

 <div class="row mt-2">
   <!-- <div class="col-auto">
     <i class="material-icons align-middle c-black">navigation</i>
     <span class="align-middle c-black fsz-14">Product Design</span>
   </div> -->
   <div class="col-auto">
     <i class="material-icons align-middle c-black fsz-18">location_on</i>
     <span class="align-middle c-black fsz-14"><%= @project_profile.state %>, <%= @project_profile.country %></span>
   </div>
 </div>
</div>

<div class="border-bottom mt-2">
 <div class="container pb-2">
   <div class="row m-0">
     <% @project_categories.each do |category|%>
       <div class="d-inline-block border project-help-needed-box fsz-10 mr-2 font-weight-bolder">
         <%=category%>
       </div>
     <% end %>
   </div>
 </div>
</div>

<div class="container">
 <div class="row">
   <div class="col">
     <div class="project-tabs material-tabs">
       <a id="project-tab1-tab" class="tab1-tabBooking material-tabs-tab pl-0" href="#tab1" class="active">
         About the project
       </a>
       <a id="project-tab2-tab" class="tab2-tabBooking material-tabs-tab" href="#tab2">
         Challenges
       </a>
       <a id="project-tab3-tab" class="tab3-tabBooking material-tabs-tab" href="#tab3">
         Tools and Supplies
       </a>
       <span class="yellow-bar"></span>
     </div>
   </div>
   <!-- <div class="col-auto">
     <button class="btn btn-link mb-3 mt-4" id="project_edit_tools_btn">
       <i class="material-icons c-gray fsz-18">edit</i>
     </button>
   </div> -->
 </div>

   <div class="tab-content custom-table">
     <div id="tab1">
       <h1 class="mt-4 fsz-25 c-black">
         About the project
       </h1>
       <p class="fsz-11 c-black mb-1 mt-3 font-weight-bolder">DESCRIPTION</p>

       <p class="fsz-13 font-weight-bolder c-black"><%=@project["description"]%></p>
     </div>
     <div id="tab2">
       <h1 class="mt-4 fsz-25 c-black">
         Challenges
       </h1>
       <p class="fsz-11 c-black mb-2 font-weight-bolder mt-4">KNOWLEDGE GAPS</p>

       <p class="fsz-13 font-weight-bolder c-black"><%=@project["gaps"]%></p>

       <p class="fsz-11 c-black mb-2 font-weight-bolder mt-4">OTHER CHALLENGES</p>

       <p class="fsz-13 font-weight-bolder c-black"><%=@project["challenges"]%></p>
     </div>
     <div id="tab3">
       <h1 class="mt-4 fsz-25 c-black">
         Tools and Supplies
       </h1>
       <p class="fsz-11 c-black mb-1 font-weight-bolder mt-3">TOOLS</p>

       <%unless @project["tools"].nil?%>
         <%@project["tools"].each do |tool|%>
           <div class="d-inline-block fsz-14 font-weight-bold mr-5 c-black">
             <%=tool%>
           </div>
         <%end%>
       <%end%>
       <p class="fsz-11 c-black mb-1 font-weight-bolder mt-3">SUPPLIES</p>

       <%unless @project["supplies"].nil?%>
         <% @project["supplies"].each do |tool|%>
           <div class="d-inline-block fsz-14 font-weight-bold mr-5 c-black">
             <%=tool%>
           </div>
         <%end%>
       <%end%>
     </div>
   </div>
</div>

<%= render 'landing/footer' %>
