<div class="navbar-without-banner">
    <%= render 'landing/navbar' %>
</div>

<div style="margin-top: 120px;">
  <%= render 'shared/search_form'%>
</div>

<div class="section">
    <main class="container">
      <div class="row border-bottom pb-5 mt-5">
        <h3 class="c-black"><b>Explore</b> your curiosity with a Guide to help.</h3>
      </div>

      <%= render partial:'filter_results',locals:{explores:nil}%>
      <div id="popular_results">
        <% if request.parameters[:search] %>
          <%= render partial:'shared/search_results',locals:{results: @results}%>
        <%else%>
          <%= render partial:'popular_in_region',locals:{popular_incountry: @popular_incountry} %>
          <%= render partial:'popular_in_explores',locals:{world_popular_explore_category: @world_popular_explore_category} %>
        <%end%>
      </div>
    </main>

    <!-- <button class="btn show-more-button-wide">
      Load more
    </button> -->
</div>

<%= render 'landing/footer' %>
