<div class="cell searchContainer">
    <div class="searchHelp grid mt-4">
        <div class="cell">
            <div class="searchReview grid">
                <div class="cell searchReview">
                    <div class="searchCont">
                        <i class="material-icons  md-36 searchIcon d-block">search</i><input type="text"
                            placeholder="Search" class="searchInput">
                    </div>
                </div>
                <div class="sortBy">
                    <div class="cell sortByText c-black">Sort by</div>
                    <div class="cell">
                        <select class="custom-select dropdownTitle">
                            <option>Most recent</option>
                            <option>Rating ascending</option>
                            <option>Rating descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="help grid">
                <div class="tab-content custom-table">
                    <div id="tab-learn" class="">
                        <div class="cell helpText c-black">Help <%= @info.profile.user.firstname %> Learn <%= @info.category.name %></div>
                        <div class="cell">
                          <%= link_to "Message" ,user_chats_path(current_user, :other_user => @info.profile.user_id), method: :post, class: "btn btn-success px-3 py-1"  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cell">
    <div class="reviews grid">
      <% if @explore_ratings.nil? %>
        No Explore Ratings Available
      <% else %>
        <% @explore_ratings.each do |explore_rating| %>
            <div class="cell">
                <div class="review grid">
                    <div class="cell">
                        <div class="profile2 grid">
                            <div class="cell perfil"><%= image_tag('People/building-1080605_640.jpg', :class => 'imgperfil') %></div>

                            <div style="padding-top: 33px;">
                                <div class="cell ratingName c-black"><%= explore_rating.guide.profile.user.full_name %></div>
                                <div class="grid score2">
                                  <div id="" class="rateYoCustom d-inline-block p-0" starsSize="normal" rating="<%=explore_rating.rating%>"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell ratingText"  style="padding-top: 33px;">
                      <%= explore_rating.review %>
                    </div>
                </div>
            </div>
          <%end%>
        <%end%>
    </div>
</div>
